
.background--image{
    background-image: url("../img/fondo1.jpg");
}

@media (max-width: 600px) { 

    .background--image{
        background-color: rgb(255, 255, 255);
        background-image: url("");
    } 
}